  <!DOCTYPE html>
  <html>
    <head>
      <title>Word Counter</title>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
      <h1>Word Counter</h1>
      <form action="/searchResults" method="post">
        <label for="sentence">Enter a sentence or paragraph:</label>
        <input id="sentence" name="sentence" type="text">
        <label for="word">Enter a word to count:</label>
        <input id="word" name="word" type="text">
        <button type="submit">Count</button>
      </form>
    </body>
  </html>