  <!DOCTYPE html>
  <html>
    <head>
      <title>Word Counter</title>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
      <link rel='stylesheet' href='~/css/styles.css'>
    </head>
    <body>
      <div class="container">
        <div class="transparent">
          <h1>Word Counter</h1>
          <form action="/searchResults" method="post">
            <label for="sentence">Enter a sentence or paragraph:</label>
            <br>
            <textarea id="sentence" name="sentence" rows="10" cols="100" required></textarea>
            <br>
            <label for="word">Enter a word to count:</label>
            <br>
            <input id="word" name="word" type="text" required>
            <br>
            <button type="submit">Count</button>
          </form>
        </div>
      </div>
    </body>
  </html>