  <!DOCTYPE html>
  <html>
    <head>
      <title>Word Counter</title>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
     <link rel='stylesheet' href='~/css/styles.css'>
    </head>
    <body>
      <div class="container">
        <div class="transparent">
          <h1>Count Results</h1>
          @if(Model.matchCounter(Model.QueryWord, Model.ArrayFromSentence)!=0)
          {
          <p><span class = "query">"@Model.QueryWord"</span> appears <span class = "query">@Model.matchCounter(Model.QueryWord, Model.ArrayFromSentence)</span> times in the text.</p>
          } else
          {
            <p><span class = "query">"@Model.QueryWord"</span> is not in the given text!</p>
          }
          <a href="/new">Count Another</a>
        </div>
      </div>
    </body>
  </html>