  <!DOCTYPE html>
  <html>
    <head>
      <title>Word Counter</title>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'> 
      <link rel='stylesheet' href='~/css/styles.css'>
    </head>
    <body>
      <div class="container">
        <div class="transparent">
          <h1>Welcome to Word Counter</h1>
          <div id="startLink">
            <a href="/new">Start Counting</a>
          </div>
        </div>
      </div>
    </body>
  </html>